/*---------------------*/
/* Basic Setup */
/*---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------*/
/* Reusable Components */
/*---------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

/*HEADINGS*/
h1,
h2,
h3,
h4 {
    font-weight: 300;
}


/*---------------------*/
/* Header */
/*---------------------*/
header#home {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/fireworks.jpg); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/trapezoid.jpg); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/machupicchu.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.logo {
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin: 20px;
    font-weight: 400;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #555;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    /* border-bottom: 2px solid #228ce6; */
    border-bottom: 2px solid #555;
}

.hamburger a {
    display: none;
}

.main-nav .hamburger a:hover,
.main-nav .hamburger a:active {
  border-bottom: 2px solid transparent;
}


/* .hero-blur {
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
} */

.hero-text-box h1 {
    font-size: 120%;
}

/*---------------------*/
/* About Me */
/*---------------------*/

.about-me {
    text-align: center;
}

.about-me h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Skills */
/*---------------------*/

.skills {
    text-align: center;
}

.skills h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Projects */
/*---------------------*/

.projects {
    text-align: center;
}

.projects h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Connect */
/*---------------------*/

.connect {
    text-align: center;
}

.connect h2 {
    margin-bottom: 2%;
}
