/*---------------------*/
/* Basic Setup */
/*---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------*/
/* Reusable Components */
/*---------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

/*HEADINGS*/
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

/*PARAGRAPHS*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 3%;
}

/*---------------------*/
/* Header */
/*---------------------*/
nav {
  position: fixed;
  width: 100%;
  color: white;
  background-color: #8a8a8a;
  top: 0;
  z-index: 1000;
}

header#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(images/machupicchu.jpg);
    background-size: cover;
    /* position: relative; */
    background-position: center;
    /* background-attachment: fixed; */
    height: 100vh;
}

header h1 {
    text-align: right;
    position: absolute;
    color: white;
    width: 1140px;
    bottom: 1rem;
    right: 1rem;
    /* transform: translate(-50%, -50%); */
}

.hero-text-box {
  font-size: 150%;
}

.logo {
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin: 20px;
    font-weight: 400;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    /* border-bottom: 2px solid #228ce6; */
    border-bottom: 2px solid #555;
}

.hamburger a {
    display: none;
}

.main-nav .hamburger a:hover,
.main-nav .hamburger a:active {
  border-bottom: 2px solid transparent;
}


/* .hero-blur {
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
} */

.hero-text-box h1 {
    font-size: 120%;
}

/*---------------------*/
/* About Me */
/*---------------------*/

.about-me {
    text-align: center;
    background-color: #FFF;
}

.about-me h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Skills */
/*---------------------*/

.skills {
    margin: 0 auto;
    text-align: center;
    background-color: #FDFDFD;
    max-width: 500px;
}

.skills h2 {
    margin-bottom: 2%;
}

.skill-item {
  width: 100px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #a8a8a8;
}

.skill-item img {
  width: 70px;
}

figcaption {
  font-size: 80%;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*---------------------*/
/* Projects */
/*---------------------*/

.projects {
    text-align: center;
    background-color: #FFF;
}

.projects h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Connect */
/*---------------------*/

.connect {
    text-align: center;
    background-color: #FDFDFD;
}

.connect h2 {
    margin-bottom: 2%;
}

/*---------------------*/
/* Footer */
/*---------------------*/

footer {
    background-color: #8a8a8a;
    padding: 50px;
    font-size: 80%;
    text-align: center;
}

.footer-home-link {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

footer a:hover,
footer a:active {
    border-bottom: 2px solid #555;
}

.social-links {
    padding-top: 8px;
    list-style: none;
    margin-top: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 200%;
    text-decoration: none;
    border: 0;
    color: white;
}
